In [8]:
import pandas as pd
import numpy as np

In [18]:
data = 'datasets/running.csv'

In [19]:
data_running = pd.read_csv(data)

In [20]:
type(data_running)

pandas.core.frame.DataFrame

In [21]:
data_running.shape

(1669, 5)

In [23]:
data_running.head(3)

,Time (s),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Absolute acceleration (m/s^2)
0,0.003109,-0.324983,0.969946,-0.730077,1.256750
1,0.013060,-0.249482,1.201871,-0.092081,1.230940
2,0.023011,-0.473437,1.047375,-0.016284,1.149522

In [24]:
data_running.index

RangeIndex(start=0, stop=1669, step=1)

In [25]:
data_running

,Time (s),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Absolute acceleration (m/s^2)
0,0.003109,-0.324983,0.969946,-0.730077,1.256750
1,0.013060,-0.249482,1.201871,-0.092081,1.230940
2,0.023011,-0.473437,1.047375,-0.016284,1.149522
3,0.032961,-0.559688,1.009391,-0.671176,1.335139
4,0.042913,-0.582195,1.142839,-0.816608,1.520487
...,...,...,...,...,...
1664,16.561781,1.248954,-1.932569,-0.004089,2.301027
1665,16.571733,1.178915,-2.002361,0.030478,2.323837
1666,16.581684,0.806154,-2.109095,0.005157,2.257918
1667,16.591635,0.579404,-2.096657,-0.091503,2.177166
1668,16.601586,0.498769,-2.080130,-0.639719,2.232701

In [32]:
# Rename Columns, permanente Ã„nderung mit inplace
data_running.rename(columns={'Time (s)':'time',
                             'Linear Acceleration x (m/s^2)':'acc_x',
                             'Linear Acceleration y (m/s^2)':'acc_y',
                            'Linear Acceleration z (m/s^2)':'acc_z',
                            'Absolute acceleration (m/s^2)':'abs_acc'
                            }, inplace=True)

In [33]:
data_running

           time     acc_x     acc_y     acc_z   abs_acc
0      0.003109 -0.324983  0.969946 -0.730077  1.256750
1      0.013060 -0.249482  1.201871 -0.092081  1.230940
2      0.023011 -0.473437  1.047375 -0.016284  1.149522
3      0.032961 -0.559688  1.009391 -0.671176  1.335139
4      0.042913 -0.582195  1.142839 -0.816608  1.520487
...         ...       ...       ...       ...       ...
1664  16.561781  1.248954 -1.932569 -0.004089  2.301027
1665  16.571733  1.178915 -2.002361  0.030478  2.323837
1666  16.581684  0.806154 -2.109095  0.005157  2.257918
1667  16.591635  0.579404 -2.096657 -0.091503  2.177166
1668  16.601586  0.498769 -2.080130 -0.639719  2.232701

[1669 rows x 5 columns]

In [40]:
# Change Index
data_running.index = np.arange(50,len(data_running)+50)
# data_running.index = np.arange(50,100,len(data_running)) <-- Ã¤ndert den Index auch

In [41]:
data_running

           time     acc_x     acc_y     acc_z   abs_acc
50     0.003109 -0.324983  0.969946 -0.730077  1.256750
51     0.013060 -0.249482  1.201871 -0.092081  1.230940
52     0.023011 -0.473437  1.047375 -0.016284  1.149522
53     0.032961 -0.559688  1.009391 -0.671176  1.335139
54     0.042913 -0.582195  1.142839 -0.816608  1.520487
...         ...       ...       ...       ...       ...
1714  16.561781  1.248954 -1.932569 -0.004089  2.301027
1715  16.571733  1.178915 -2.002361  0.030478  2.323837
1716  16.581684  0.806154 -2.109095  0.005157  2.257918
1717  16.591635  0.579404 -2.096657 -0.091503  2.177166
1718  16.601586  0.498769 -2.080130 -0.639719  2.232701

[1669 rows x 5 columns]

In [52]:
# Search pd by table location (not index)
data_running.iloc[0:3, 2]

50    0.969946
51    1.201871
52    1.047375
Name: acc_y, dtype: float64

In [50]:
# Search pd by table location (not index)
data_running.iloc[0:3, [2]] # Gibt ein Dataframe aus (1-dimensionales Objekt)

       acc_y
50  0.969946
51  1.201871
52  1.047375

In [51]:
# Search pd by table location (not index)
data_running.iloc[0:3, 2:3] # Gibt ein Dataframe aus (1-dimensionales Objekt)

       acc_y
50  0.969946
51  1.201871
52  1.047375

In [55]:
# Nur ein Value
data_running.loc[52, 'acc_y']

1.047374902

In [56]:
# Mehrere Values
data_running.loc[[52,60], ['acc_x','acc_y']]

       acc_x     acc_y
52 -0.473437  1.047375
60 -0.403642  0.857789